@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
    
.light-theme {
    --contact-light: block;
    --contact-dark: none;
    --bg: #ebebeb;
    --bg-sidebar: #d8d8d8;
    --color-headings: #4c3261;
    --color-text: black;
    --color-text2: #2e173b;
    --color-text3: #444444;
    --color-white: black;
    --select: black;
    --select-bg: #9eb4ff;
    --social-icons: rgba(0,0,0,0.7);
    --content-subtitle: rgba(0,0,0,0.9);
    --box-shadow: rgba(0,0,0,0.1);
}

.dark-theme {
    --contact-light:none;
    --contact-dark:block;
    --bg: #2f363d;
    --bg-sidebar: #24292e;
    --color-headings: #fff;
    --color-text: #f2f2f2;
    --color-text2: #dedede;
    --color-text3: #ebebeb;
    --color-white: white;
    --select: black;
    --select-bg: white;
    --social-icons: rgba(255,255,255,0.7);
    --content-subtitle: rgba(255,255,255,0.9);
    --box-shadow: rgba(255,255,255,0.1);
}

::-webkit-scrollbar{
    height: 6px;
    width: 6px;
    background: inherit;
}

::-webkit-scrollbar-thumb {background: var(--color-headings);}
::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {background: gray;}

::-webkit-scrollbar-track {background: transparent;}

::selection {
    color: var(--select);
    background: var(--select-bg);
}

@keyframes slideInLeft {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}
@keyframes slideInLeft2 {
    0% {transform: translateX(-100%);}
    50% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}
@keyframes menuAnim {
    0% {transform: scaleY(0);}
    80% {transform: scaleY(1.1);}
    100% {transform: scaleY(1);}
}
@keyframes itemsAnim {
    0% {opacity: 0;transform: rotateX(-90deg);}
    15% {opacity: 0;transform: rotateX(-90deg);}
    50% {transform: rotateX(-20deg);}
    100% {opacity: 1;transform: rotateX(0deg);}
}

html, body {
    margin: 0;
    padding:0;
    height: 100%;
}

body {
    font-family:'Raleway',sans-serif;
    background-color: var(--bg);
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    align-items: center;
    background: var(--bg-sidebar);
}

header .print-button {
    background-color: var(--bg);
    transition: all 0.2s ease-in;
    will-change: transform;
    color: var(--color-text);
    
    display: block;
    margin-right: 20px;
    width: fit-content;
    border: 2px solid gray;
    border-radius: 0.25em;
    padding: 5px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    line-height: 1.1; 
}
header .print-button:hover {
    background-color: grey;
    transition: all 0.2s ease-in;
}

nav {
    margin-right: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    color: var(--color-headings) !important;
}


/* Language selector */
nav .lang-selector{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px 0;
}

nav .lang-selector label {
    font-size: 20px;
    margin-right: 6px;
}

nav .lang-selector .custom-select select {
    display: none;
}
nav .lang-selector .custom-select {
    display: inline-grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    width: 140px;
    border: 2px solid gray;
    border-radius: 0.25em;
    background-color: var(--bg);
    
    transition: all 0.2s ease-in;
    will-change: transform;
    z-index: 10;
}

.select-selected:after {
    position: absolute;
    content: ""; 
    top: 10px;
    right: 10px;
    width: 0.8em;
    height: 0.5em;
    background-color: var(--color-white);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
.select-selected.select-arrow-active:after {
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
.select-selected:hover, .select-selected:focus {
    background-color: grey;
}

.select-items div, .select-selected {
    grid-area: select;
    color: var(--color-white);
    font-size: 1.05rem;
    padding: 0.25em 0.5em;
    cursor: pointer;
    user-select: none;
}
.select-items {
    position: absolute;
    background-color: var(--bg);
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid gray;
    animation: menuAnim 300ms ease-in-out forwards;
    transform-origin: top center;
    
}
.select-items > * {
    animation: 700ms ease-in-out 0s 1 itemsAnim;
    transform-origin: top center;
}

.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: grey;
}

/* Theme toggle switch */
.toggle {
    position: relative;
    width: 65px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#switch {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.toggle-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 30px;
}
.toggle-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.toggle-inner:before, .toggle-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 25px;
    padding: 0;
    line-height: 25px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;

    transition: all 0.2s ease-in;
    will-change: transform;
}
.toggle-inner:before {
    font-family: "Font Awesome 6 Free";
    content: "\f185";
    font-weight: 900;
    padding-left: 10px;
    background-color: #EBEBEB;
    color: #2B2B2B;
}
.toggle-label:hover .toggle-inner:before, .toggle-label:active .toggle-inner:before {
    background-color: grey;
}
.toggle-inner:after {
    font-family: "Font Awesome 6 Free";
    content: "\f186";
    font-weight: 900;
    padding-right: 10px;
    background-color: #2B2B2B;
    color: #E6E6E6;
    text-align: right;
}
.toggle-label:hover .toggle-inner:after, .toggle-label:active .toggle-inner:after {
    background-color: grey;
}
.toggle-switch {
    display: block;
    width: 25px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 36px;
    border: 2px solid #999999;
    border-radius: 30px;
    transition: all 0.3s ease-in 0s; 
}
#switch:checked + .toggle-label .toggle-inner {
    margin-left: 0;
}
#switch:checked + .toggle-label .toggle-switch {
    right: 0px; 
}

/* Main content */
main {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}

abbr[title] {
    text-decoration-color: var(--color-white);
    text-decoration-thickness: 0.1px;
}

/* Sidebar */
aside {
    will-change: transform;
    animation: 2s ease-out 0s 1 slideInLeft2;
    -webkit-box-shadow:4px 0 5px -2px rgba(94,94,94,0.81);
    box-shadow:4px 0 5px -2px rgba(94,94,94,0.81);
    color: var(--color-headings);
    background: var(--bg-sidebar);

    flex: 1 0 30%;
    overflow-y: auto;
    height: inherit;
    display: flex;
    flex-flow: column;
    text-align: center;
}

aside article {
    display: block;
    width: 95%;
    margin: 0 auto;
}

aside .avatar img {
    width: 140px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 20px var(--box-shadow);
    box-shadow: 0 0 20px var(--box-shadow);
    transition: all 0.35s ease;
    will-change: transform;
}
aside .avatar img:hover {
    transform: scale(1.15) translateY(10px);
    transition: all 0.35s ease;
}

aside .title h1 {
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 28px;
}
aside .title h2 {
    font-size: 20px;
    margin: 0 0 10px 0;
    font-weight: 300;
    letter-spacing: 1.6px;
}

aside .desc {
    width: 85%;
    display: block;
    margin: 0 auto;
}
aside .desc p {
    font-size: 15px;
    font-weight: 300;
    color: var(--color-text);
}

aside .contact {
    display: var(--contact-dark);
}
aside .contact img {
    max-width: 13.5em;
    object-fit: contain;

    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
aside .contact-white {
    display: var(--contact-light);
}
aside .contact-white img{
    max-width: 13.5em;
    object-fit: contain;
    
    image-rendering: -moz-crisp-edges;
    image-rendering:   -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

aside .social{
    margin-top: 15px;
}
aside .social ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
aside .social ul li{
    display: inline-block;
    margin-right: 5px;
    transition: all 0.2s linear;
    will-change: transform;
}
aside .social ul li:hover,aside .social ul li:focus{
    transform: scale(1.2);
    transition: all 0.2s linear;
}
aside .social ul li a{
    color: var(--social-icons);
    transition: all 0.2s linear;
    font-size: 28px;
}
aside .social ul li a:hover,aside .social ul li a:focus{
    color: var(--color-headings);
    transition: all 0.2s linear;
}

aside .social span{
    display: block;
    margin-top: 2%;
    font-size: 12px;
    font-weight: 300;
    color: var(--color-text);
}
aside .social span a{
    color: var(--color-white);
}
aside .social span a:hover{
    opacity: 70%;
    text-decoration: none;
}

aside .print-social {
    display: none;
    font-size: 11px;
    font-weight: 300;
}

/* Right section */
section {
    will-change: transform;
    animation: 1s ease-out 0s 1 slideInLeft;
    padding: 30px 0 0 60px;
    color: var(--color-text3);
    background: var(--bg);

    flex-grow: 1;
    overflow-y: auto;
    height: inherit;
    display: flex;
    flex-flow: column;
}

section .print-links {
    display: none;
}

section .article{
    padding-bottom: 20px;
    display: flex;
    flex-flow: column nowrap;
}

section .article .title {
    margin-bottom: -20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
section .article .title .icon{
    float: left;
    color: var(--color-text2);
    font-size: 26px;
    margin-right: 15px;
}
section .article .title h2{
    color: var(--color-white);
}

section .article .item h3{
    color: var(--color-text2);
    margin-bottom: 5px;
}
section .article .item span{
    color: var(--content-subtitle);
    font-weight: 300;
}
section .article .item p, section .article .item ul li{
    margin-top: 0;
    width: 90%;
    letter-spacing: 1.1px;
    line-height: 25px;
    text-align: justify;
    text-justify: inter-word;
} 
section .article .item a{
    color: var(--color-white);
    font-weight: bold;
    text-decoration: none;
    opacity: 80%;
    font-style: italic;
}
section .article .item a:hover{
    text-decoration: underline;
    opacity: 100%;
}

section .article .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .article .list .item {
    flex: 1;
    flex-basis: calc(33.3333% - 2%);
}

#scroll-button {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    width: fit-content;
    border: 2px solid gray;
    border-radius: 0.25em;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 1.1rem;
    z-index: 99;

    color: var(--color-text);
    background-color: var(--bg-sidebar);
    will-change: transform; 
}
#scroll-button:hover {
    background-color: grey;
    transition: all 0.2s ease-in;
}

footer {
    background-color: var(--bg-sidebar);
    color: var(--color-text2);

    padding: 5px 0;
    font-size: 10px;
    position: relative;
    text-align: center;
}


/* Mobile responsive */
@media only screen and (max-width:768px){
    #container {
        display: block;
    }

    header {
        position: fixed;
        width: 100%;
        top: 0;
        right:0;
        z-index: 10;
        height: 50px;
    }

    header .print-button {
        font-size: 0;
        padding: 5px 15px;
    }
    header .print-button:before {
        font-family: "Font Awesome 6 Free";
        content: "\f019  / \f02f";
        font-weight: 700;
        font-size: 1.1rem;
    }

    nav {
        margin-right: 3%;
    }

    nav .lang-selector .custom-select {
        width: 100px;
    }
    
    main {
        margin-top: 50px;
        flex: auto;
        flex-flow: column nowrap;
        row-gap: 10px;
        overflow-y: auto;
    }

    aside {
        -webkit-box-shadow:none;
        box-shadow:none;
        overflow-y: hidden;
    }

    aside .social{
        margin-bottom: 15px;
    }

    section {
        padding:20px;
        overflow-y: hidden;
    }
}


/* Print CSS */
@page  { 
    size: auto;
    margin: 15mm 10mm 25mm 10mm;  
}

@media print {
    #container {
        display: block;
        color: black !important;
    }

    header {
        display: none;
    }

    main {
        display: block;
    }

    abbr[title] {
        text-decoration: none;
    }

    aside {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-right: 0;
        width: 100%;
        position: relative;
        color:black !important;
        font-size:12pt;

        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    aside > * {
        flex: 1;
        flex-basis: 33.3333%;
    }

    aside .avatar {
        padding: 0 0 0 20px;
        margin-right: -80px;
    }
    aside .avatar img {width: 120px;}

    aside .title {
        font-size: 16pt;
        text-align: justify;
    }

    aside .desc {
        flex-basis: 70%;
        color: black;
    }
    aside .desc p {
        color: black !important;
    }
    
    aside .contact {display: none;}
    aside .contact-white{
        display: block;
        text-align: right;
        margin-right: 5px;
    }
    
    aside .social {display:none;}
    aside .print-social {
        display: inline-block;
        text-align: justify;
        margin-left: 5px;
    }
    
    section {
        margin-left: 0;
        position: relative;
        padding: 0 20px;
        color: black !important;
        display: block;
    }

    section .print-links {
        display: inline;
    }

    section .article {
        padding-bottom: 0;
        display: block;
    }

    section .article .title{
        font-size: 16px;
    }
    section .article .title > * {
        color: black !important;
    }
    
    section .article .item {
        display: block;
        padding: 0;
        margin: 0;
        page-break-inside: avoid !important;
    }
    section .article .item > * {color: black !important;}

    section .article .item h3 {font-size: 14pt;}
    section .article .item span {font-size: 12pt;}
    section .article .item ul {font-size: 11pt;}

    section .article .item a {
        color: black !important;
        font-weight: normal;
    }
    section .article .item span{color: black !important;}
    
    section .article .item p{
        width: 100%;
        text-align: justify;
        font-size: 11pt;
    }

    section .article .list .item h3{
        font-size: 11pt;
    }

    #scroll-button {display: none !important;}
    footer {display: none;}

}